<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.kormate">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="33"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="33" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALENDAR"/>


    <application
        android:name=".Util.GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo_final"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_final_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kormate"
        tools:targetApi="31"
        tools:ignore="MissingClass">

        <activity
            android:name=".presentation.Activity.UserInfoRegister.GenderActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".presentation.Activity.UserInfoRegister.SelfIntroActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".presentation.Activity.UserInfoRegister.MajorActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.Activity.UserInfoRegister.NationActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".presentation.Activity.MyIntelReviseActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".presentation.Activity.ImageDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".presentation.Activity.BoardEditActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".presentation.Activity.BoardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".presentation.Activity.BoardPostActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            tools:ignore="Instantiatable">

            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>


        <activity
            android:name=".presentation.Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".presentation.Activity.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.Activity.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true" />

    </application>


</manifest>